[submodule "_gallery"]
	path = _gallery
	url = https://www.github.com/NickLitharis/_gallery
[submodule "_quotes"]
	path = _quotes
	url = https://www.github.com/NickLitharis/_quotes
[submodule "images"]
	path = images
	url = https://www.github.com/NickLitharis/images
[submodule "_bibliography"]
	path = _bibliography
	url = https://www.github.com/NickLitharis/bibliography
[submodule "_notes"]
	path = _notes
	url = https://www.github.com/NickLitharis/notes
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://www.github.com/NickLitharis/extras
[submodule "_includes/text"]
	path = _includes/text
	url = https://www.github.com/NickLitharis/text
